@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"), url("/fonts/Montserrat-Regular.woff") format("woff");
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"), url("/fonts/Montserrat-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Light"), url("/fonts/Montserrat-Light.woff") format("woff");
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), url("/fonts/Montserrat-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Block"), url("/fonts/Montserrat-Block.woff") format("woff");
  font-display: swap;
  font-weight: 900;
}


